@import "../../../base/Font/Typography";

.user-profile {
  height: 32px;
  &-dropdown {
    padding: 0 0;
    margin-left: 24px;
  }
  &-fullname {
    .Base-Small-Medium();
    color: var(--neutral-color_800);
    padding-left: 8px;
  }
}