:root {
  --font-size-smallest: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 18px;
  --font-size-heading4: 24px;
  --font-size-heading2: 40px;

  --line-height-smallest: 16px;
  --line-height-small: 20px;
  --line-height-normal: 24px;
  --line-height-medium: 28px;
  --line-height-heading4: 32px;
  --line-height-heading2: 48px;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"), url('static/Inter-Bold.ttf') format('embedded-opentype');
  font-weight: bold
}