@import "../../../base/Font/Typography";

.form-login {
  border-radius: 16px;
  .ant-modal-content {
    padding: 24px;
    h3 {
      .Title-Blod();
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  &-label {
    .Base-Small-Medium()
  }
  &-footer {
    display: flex;
    .ant-space-item {
      flex: 1
    }
  }
}